
header {
  border-bottom: 1px solid hsla(116, 0%, 95%, 1.00);
  margin-top: 10px;
}

.masthead {
  display: flex;
  align-items: center;
}
/*         images style
------------------------------------------------------------
*/
img.logo {
  width: 90px;
  margin: 20px;
  display: inline-block;
  flex: none;
}
img.profpic{
  margin-left:10px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 20%;

}
img.mic{
  float:left;
  display:inline-block;
  flex:none;
  padding: 7px;
  border-top: 1px hsla(116, 0%, 93%, 1.00) solid;
  border-bottom: 1px hsla(116, 0%, 93%, 1.00) solid;

}
#searchbtn {
  border:none;
  background-color:white;
  float:left;
  margin-right:auto;
  border-right: 1px hsla(116, 0%, 93%, 1.00) solid;
  border-top: 1px hsla(116, 0%, 93%, 1.00) solid;
  border-bottom: 1px hsla(116, 0%, 93%, 1.00) solid;
  border-radius:0 25px 25px 0;
  cursor: pointer;
  outline:none;
}
img.loupe{
  width:24px;
  height:24px;
  padding:4.5px;
  padding-right:8px;
    
}
/*
INPUT STYLE
-----------------------------------------------------------------------
*/
input[name="search"] {
  display: inline-block;
  margin-left:auto;
  width: 500px ;
  background-image: url('https://img.icons8.com/material/24/000000/keyboard.png');
  background-repeat: no-repeat;
  background-position: 485px 7px;  
  line-height: 40px;
  border: 1px hsla(116, 0%, 93%, 1.00) solid;
  border-right:none;
  border-radius: 25px 0 0 25px;
  padding: 10px 15px;
  font:16px arial;
  margin-left: 20px;
  flex: none;
  text-decoration: none;
  outline:none
}

input[name="search"]:focus{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.6);
}
input[name="search"]:hover{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.6);
}

/*
NavBar Buttons
--------------------------------------------------------
*/
#navbox{
  margin:0 auto 0 150px ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  min-width:830px;
}

div.navbar>ul{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
div.navbar li {
  float:left;
  border-bottom: 3px solid white;
  display: block;
  color:#C4C4C4;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
div.navbar li a{
  color:#C4C4C4;
  text-decoration: none;
}
div.navbar li:hover{
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
  font-weight: bold;
  cursor: pointer;
}
/*
MAIN PAGE 
-------------------------------------------------------------------------------------
*/
/*
Twitter
*/
#searches{
  color:#C4C4C4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 150px;
  font-size:smaller;
  margin:0;
}
#twitter{
  margin: 10px 10px 10px 150px;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  padding:10px 10px 10px 10px;
  min-width: 300px;
  max-width:600px;  
  font-family: Arial, Helvetica, sans-serif;
}
#twitter >p{
  font-size:14px;
  margin:4px;
  padding: 0;
  border:0;
}
#twitter > h3{
  font-size: 18px;
  margin:0;
  padding:0;
  border:0;
}
#twitter > h3:hover{
  text-decoration: underline;
}
.Title{
  text-decoration: none;
}

#ul1 , #ul2{
display:inline-block;
list-style-type: none;
}

